* {
  box-sizing: border-box;
  border:0;
  padding:0;
  margin:0;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Source Sans Pro Regular", sans-serif;
  background-color: var(--theme-body);
}

:root {
  --theme-body: #fff;
  font-size: 12px;
}